Django>=5.2,<5.3
psycopg2>=2.9.10
pillow>=11.2.1,<11.3
python-decouple>=3.8,<4.0

# Redis support
django-redis>=5.3.0
redis>=4.5.0

# Additional common packages
requests>=2.31.0  # For HTTP requests

# Production server (optional)
gunicorn>=23.0,<24.0

#Bootstrap for frontend styling
django-crispy-forms>=2.4,<3
crispy-bootstrap5>=2024.6,<2025
